# ==========================================
# Variables de Entorno - Laboratorio 02
# ==========================================

# Base de datos PostgreSQL
POSTGRES_USER=Enrique
POSTGRES_PASSWORD=Enrique2026
POSTGRES_DB=lab02
DB_PORT=5432

# Puertos para las réplicas locales de la API
API1_PORT=3000
API2_PORT=3001
API3_PORT=3002
